.terms{
    padding: 20px;
}
.terms_header{
    margin-top: 70px;
    font-size: 30px;
    font-weight: bolder;
}
.terms_letter_size{
    font-size: 20px;
    margin: 5px;
    margin-top: 20px;
    /* font-weight: 200px; */
}
.terms_caps_size{
    margin-top: 40px;
    color: #009579;
    font-size: 20px;
    font-weight: bold;
}